<div class="content-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Users</h3>

                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;" data-children-count="1">
                                <input type="text" name="table_search" class="form-control float-right"
                                    placeholder="Search">

                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0" style="height: 300px;">
                        <table class="table table-head-fixed text-nowrap">
                            <thead>
                                <tr>
                                    <th scope="col">User Id</th>
                                    <th scope="col">Username</th>
                                    <th scope="col">Full Name</th>
                                    <th scope="col">Badge</th>
                                    <th scope="col">Joined Date</th>
                                    <th scope="col">Gender</th>
                                    <th scope="col">Age</th>
                                    <th scope="col">Phone Number</th>
                                    <th scope="col">Location</th>
                                    <th scope="col">Ever BlissBundle Purchased?</th>
                                    <th scope="col">Last BB Plan Purchased On</th>
                                    <th scope="col">BlissBundle Plan Status</th>
                                    <th scope="col">Earned in INR</th>
                                    <th scope="col">Spent in INR</th>
                                    <th scope="col">Reported</th>
                                    <th scope="col">Anonymous Reported</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- <tr *ngFor="let game of gameList">
                                    <td>{{game.gameName}}</td>
                                    <td><img src="../../../../assets/img/default-150x150.png" class="user-img"
                                            alt="user.jpg"></td>
                                    <td>{{game.gameCategory.name}}</td>
                                    <td>{{game.description}}</td>
                                    <td>{{game.type}}</td>
                                    <td><button type="button" class="btn btn-danger btn-sm"
                                            (click)="deleteGame(game._id)">Delete</button></td>
                                </tr> -->
                                <tr>
                                    <td>SH#123</td>
                                    <td>sharadgarg21</td>
                                    <td>SHARAD GARG</td>
                                    <td>Beginner</td>
                                    <td>05/12/2020 hh:mm</td>
                                    <td>Male</td>
                                    <td>22</td>
                                    <td>+91 989  123 555</td>
                                    <td>City State</td>
                                    <td>Yes</td>
                                    <td></td>
                                    <td>Silver</td>
                                    <td>10000</td>
                                    <td>50000</td>
                                    <td>3</td>
                                    <td>4</td>
                                    <td>Active</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</div>