<div class="content-wrapper">
    <div class="content">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Game List Creation</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form [formGroup]="gameListForm" (ngSubmit)="createGameList()">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group" data-children-count="1">
                                <div class="form-group" data-children-count="1">
                                    <label>Select Game Category</label>
                                    <select class="form-control" formControlName="gameCategory">
                                        <option *ngFor="let cat of category" value="{{cat._id}}">{{cat.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group" data-children-count="1">
                                <label>Game Name</label>
                                <input type="text" class="form-control" placeholder="Game Name"
                                    formControlName="gameName" data-kwimpalastatus="alive"
                                    data-kwimpalaid="1628443580540-1">
                            </div>
                        </div>
                    </div>
                    <div class="form-group" data-children-count="1">
                        <label>Game Description</label>
                        <textarea class="form-control" rows="3" placeholder="Game Description"
                            formControlName="description"></textarea>
                    </div>
                    <div class="form-group" data-children-count="1">
                        <label>Game URL/Identifier/BundleId</label>
                        <input type="text" class="form-control" placeholder="Game URL/Identifier/BundleId"
                            formControlName="bundleIdentifier" data-kwimpalastatus="alive"
                            data-kwimpalaid="1628443580540-1">
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="exampleInputFile">Game Icon</label>
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="exampleInputFile"
                                            formControlName="icon">
                                        <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                                    </div>
                                    <div class="input-group-append">
                                        <span class="input-group-text" (click)="iconUpload()">Upload</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><br>
                    <!-- <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="exampleInputFile">Category Banner</label>
                                <form #banner="ngForm" class="container mt-3">
                                    <button type="button" class="btn btn-primary btn-sm"
                                        (click)="addAnotherBanner()">Add Banner</button>
                                    <section *ngFor="let data of gameBanner; let i = index">
                                        <div class="row" style="margin-top: 1rem;">
                                            <div class="col-md-4">
                                                <h1 style="font-size: 18px;">Banner {{i + 1}}
                                                </h1>
                                            </div>
                                            <div class="col-md-4">
                                                <button type="button" class="btn btn-danger btn-sm"
                                                    (click)="removeBanner(i)">Remove</button>
                                            </div>
                                        </div>
                                        <div class="input-group" style="margin-top: 1rem;">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="exampleInputFile"
                                                 [ngModel]="data.file" name="file_{{i}}">
                                                <label class="custom-file-label" for="exampleInputFile">Choose
                                                    file</label>
                                            </div>
                                            <div class="input-group-append">
                                                <span class="input-group-text" (click)="bannerUpload()">Upload</span>
                                            </div>
                                        </div>
                                    </section>
                                </form>
                            </div>

                        </div>
                    </div> -->
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <div class="custom-control custom-switch" data-children-count="1">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch1"
                                        formControlName="freeType">
                                    <label class="custom-control-label" for="customSwitch1">Free</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-switch" data-children-count="1">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch2"
                                        formControlName="paidType">
                                    <label class="custom-control-label" for="customSwitch2">Paid</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <div class="custom-control custom-switch" data-children-count="1">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch3"
                                        formControlName="singlePlayer">
                                    <label class="custom-control-label" for="customSwitch3">Single Player</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-switch" data-children-count="1">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch4"
                                        formControlName="multiPlayer">
                                    <label class="custom-control-label" for="customSwitch4">Multi Player</label>
                                </div>
                            </div>
                        </div>
                    </div>



                    <!-- <div class="form-group">
                        <label for="exampleInputFile">File input</label>
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="exampleInputFile">
                                <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                            </div>
                            <div class="input-group-append">
                                <span class="input-group-text">Upload</span>
                            </div>
                        </div>
                    </div> -->
                    <!-- <div class="form-check" data-children-count="1">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div> -->
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>

</div>